$--main-color: #6FB1AE;
$--active-main-color: mix(#000, $--main-color, 10%) !default;
$--assistant-color: #F79323;

/* color */
$--bg-color: #f5f5f5;
$--color-lazyload: #FFF;

/* font */
$--text-color: #323232;
$--tip-color: #909399; // 提示性文字
$--disable-color: #D9D9D9;

/* footbar */
$--footbar-height: 50px;

/* line */
$--line-color: #D9D9D9;
$--line-color-light: #EBEEF5;

/* home */
$--home-nav-height: 52px;

/* cart */
$--cart-total-height: 0.9rem;

/* pay */
$--pay-total-height: 0.8rem;

/* checkbox */
$--checkbox-height: 0.42rem;
$--checkbox-duration: 0.3s;

/* product */
$--product-img-size-sm: 2.3rem;

/* btn */
$--btn-bottom-height: 1rem;
$--btn-bottom-font-size: 16px;